html, body {
    width:100%;
    height:100%;
    margin:0;
}

.body-content {
    padding-top: 50px;
    padding-bottom: 20px;
    width:100%;
    height:100%;    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#party-overview-container {
    width:100%;
    height:100%;
    background-image: url(Images/party_builder_background.png);
    z-index: 1;
    padding:60px;
}

#party-builder-container {
    width:80%;
    height:75%;
    margin:0; 
}

.unit-container {
    width:22%;
    height:25%;
    margin:10px;
    background-color:blue;
    display:inline-block;
}

.menu-container {
    position:relative;
    left:1000px; 
    width: 200px;
    height: 300px;
    margin-left: 20px;
    z-index:3;
}

.menu {
    height: 80%;
    width: 100%;
    background-image: url(Images/menu_background.png);
    border: 2px solid black;
    box-shadow: black 3px 3px 3px;
    float:left;
    margin-top: -10px;
}

.menu ul {
    margin-top: 15px;
    padding-left: 15px;
}

.menu li {
    margin: 5px;
    list-style: none;
    font: 50px 'Altima';
    line-height: 70%;
    
}

.menu li a {
   color: inherit;
   text-decoration:none;
   text-shadow: 2px 2px 15px grey;
}

.menu li:hover {
   position: relative;
}


.menu li:hover:before {
    content: url(Images/menu_cursor.png);
    position: absolute;
    left: -40px;
    bottom: 5px;
}

img {
    width:40%;
}
