@using FinalFantasyTacticsPartyBuilder.View_Models;

<div id="job-tree-container" class="menu">
    <strong id="job-tree-close">X</strong>
    <div id="tree-squire-chart" class="tree-chart"></div>
    <div id="tree-chemist-chart" class="tree-chart"></div>
    <div id="tree-onion-chart" class="tree-chart"></div>
    <div id="tree-mime-chart" class="tree-chart"></div>
    <div id="tree-dark-chart" class="tree-chart"></div>
</div>
<canvas id="job-tree-canvas" width="1500" height="960"></canvas>
<script type="text/javascript">
    squire_chart_config = {
        chart: {
            container: "#tree-squire-chart",
            rootOrientation: "WEST",
            connectors: {
                type: "step",
                style: {
                    "arrow-end": "block",
                    "stroke-width": 3
                }
            },
            levelSeparation: 50,
            siblingSeparation: 0,
            subTeeSeparation: 5
        },
        nodeStructure: {
            text: { name: "Squire" },
            image: "/Content/Images/Jobs/Squire_Male_Standing.png",
            children: [
                {
                    text: { name: "Knight" },
                    image: "/Content/Images/Jobs/Knight_Male_Standing.png",
                    children: [
                        {
                            innerHTML: "<img class='treant-job-multiple' src='/Content/Images/Jobs/Knight_Male_Standing.png'><img class='treant-job-multiple' src='/Content/Images/Jobs/Monk_Male_Standing.png'><img class='treant-job-multiple' src='/Content/Images/Jobs/Dragoon_Male_Standing.png'><p class='node-name'>Knight/Monk/Dragoon</p>",
                            children: [
                                {
                                    text: { name: "Samurai" },
                                    image: "/Content/Images/Jobs/Samurai_Male_Standing.png",
                                }
                            ]
                        },
                        {
                            text: { name: "Monk" },
                            image: "/Content/Images/Jobs/Monk_Male_Standing.png",
                            children: [
                                {
                                    text: { name: "Geomancer" },
                                    image: "/Content/Images/Jobs/Geomancer_Male_Standing.png",
                                }
                            ]
                        }
                    ]
                },
                {
                    pseudo: true,
                    children: [
                        {
                            innerHTML: "<img src='/Content/Images/Jobs/Knight_Male_Standing.png'><img src='/Content/Images/Jobs/Monk_Male_Standing.png'><img src='/Content/Images/Jobs/Geomancer_Male_Standing.png'><img src='/Content/Images/Jobs/Archer_Male_Standing.png'><img src='/Content/Images/Jobs/Thief_Male_Standing.png'><img src='/Content/Images/Jobs/Dragoon_Male_Standing.png'><p class='node-name'>Knight/Monk/Geomancer/Archer/Thief/Dragoon</p>",
                            childrenDropLevel: 1,
                            children: [
                                {
                                    text: { name: "Dancer" },
                                    image: "/Content/Images/Jobs/Dancer_Female_Standing.png"
                                }
                            ]
                        }
                    ]
                },
                {
                    text: { name: "Archer" },
                    image: "/Content/Images/Jobs/Archer_Male_Standing.png",
                    children: [
                        {
                            text: { name: "Thief" },
                            image: "/Content/Images/Jobs/Thief_Male_Standing.png",
                            children: [
                                {
                                    text: { name: "Dragoon" },
                                    image: "/Content/Images/Jobs/Dragoon_Male_Standing.png"
                                }
                            ]
                        },
                        {
                            innerHTML: "<img src='/Content/Images/Jobs/Archer_Male_Standing.png'><img src='/Content/Images/Jobs/Thief_Male_Standing.png'><img src='/Content/Images/Jobs/geomancer_Male_Standing.png'><p class='node-name'>Archer/Thief/Geomancer</p>",
                            children: [
                                {
                                    text: { name: "Ninja" },
                                    image: "/Content/Images/Jobs/Ninja_Male_Standing.png"
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    }

    chemist_chart_config = {
        chart: {
            container: "#tree-chemist-chart",
            rootOrientation: "WEST",
            connectors: {
                type: "step",
                style: {
                    "arrow-end": "block",
                    "stroke-width": 3
                }
            },
            levelSeparation: 50,
            siblingSeparation: 0,
            subTeeSeparation: 5
        },
        nodeStructure: {
            text: { name: "Chemist" },
            image: "/Content/Images/Jobs/Chemist_Male_Standing.png",
            children: [
                {
                    innerHTML: "@(Html.Raw(Html.Partial(@"~\Views\Home\_JobTreantNodePartial.cshtml",
                                new JobTreantNodeViewModel { Gender = FinalFantasyTacticsPartyBuilder.Models.Gender.Male,
                                    ImagePath = @"/Content/Images/Jobs/WhiteMage_Male_Standing.png", JobName = "White Mage" }).ToString().Replace('"', '\'')))",
                    //innerHTML: "<div class='job-treant-node-container'><img src='/Content/Images/Jobs/WhiteMage_Male_Standing.png'><p>White Mage</p></div>",
                    //text: { name: "White Mage" },
                    //image: "/Content/Images/Jobs/WhiteMage_Male_Standing.png",
                    children: [
                        {
                            text: { name: "Mystic" },
                            image: "/Content/Images/Jobs/Mystic_Male_Standing.png",
                            children: [
                                {
                                    text: { name: "Orator" },
                                    image: "/Content/Images/Jobs/Orator_Male_Standing.png",
                                }
                            ]
                        }
                    ]
                },
                {
                    pseudo: true,
                    children: [
                        {
                            innerHTML: "<img src='/Content/Images/Jobs/WhiteMage_Male_Standing.png'><img src='/Content/Images/Jobs/Mystic_Male_Standing.png'><img src='/Content/Images/Jobs/Orator_Male_Standing.png'><img src='/Content/Images/Jobs/BlackMage_Male_Standing.png'><img src='/Content/Images/Jobs/TimeMage_Male_Standing.png'><img src='/Content/Images/Jobs/Summoner_Male_Standing.png'><p class='node-name'>White Mage/Mystic/Orator/Black Mage /Time Mage/Summoner</p>",
                            children: [
                                {
                                    text: { name: "Bard" },
                                    image: "/Content/Images/Jobs/Bard_Male_Standing.png"
                                }
                            ]
                        }
                    ]
                },
                {
                    pseudo: true,
                    children: [
                        {
                            innerHTML: "<img src='/Content/Images/Jobs/WhiteMage_Male_Standing.png'><img src='/Content/Images/Jobs/Mystic_Male_Standing.png'><img src='/Content/Images/Jobs/BlackMage_Male_Standing.png'><img src='/Content/Images/Jobs/TimeMage_Male_Standing.png'><p class='node-name'>White Mage/Mystic/Black Mage /Time Mage</p>",
                            children: [
                                {
                                    text: { name: "Arithmetician" },
                                    image: "/Content/Images/Jobs/Arithmetician_Male_Standing.png"
                                }
                            ]
                        }
                    ]
                },
                {
                    text: { name: "Black Mage" },
                    image: "/Content/Images/Jobs/BlackMage_Male_Standing.png",
                    children: [
                        {

                            text: { name: "Time Mage" },
                            image: "/Content/Images/Jobs/TimeMage_Male_Standing.png",
                            children: [
                                {
                                    text: { name: "Summoner" },
                                    image: "/Content/Images/Jobs/Summoner_Male_Standing.png"
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    };

    onion_chart_config = {
        chart: {
            container: "#tree-onion-chart",
            rootOrientation: "NORTH",
            connectors: {
                type: "step",
                style: {
                    "arrow-end": "block",
                    "stroke-width": 3
                }
            },
            levelSeparation: 50,
            siblingSeparation: 0,
            subTeeSeparation: 5,
            hideRootNode: true
        },
        nodeStructure: {
            children: [
                {
                    innerHTML: "<img src='/Content/Images/Jobs/Squire_Male_Standing.png'><img src='/Content/Images/Jobs/Chemist_Male_Standing.png'><p>Squire/Chemist</p>",
                    children: [
                        {
                            text: { name: "Onion Knight" },
                            image: "/Content/Images/Jobs/OnionKnight_Male_Standing.png",
                        }
                    ]
                }
            ]
        }
    };

    mime_chart_config = {
        chart: {
            container: "#tree-mime-chart",
            rootOrientation: "NORTH",
            connectors: {
                type: "step",
                style: {
                    "arrow-end": "block",
                    "stroke-width": 3
                }
            },
            levelSeparation: 50,
            siblingSeparation: 0,
            subTeeSeparation: 5,
            hideRootNode: true
        },
        nodeStructure: {
            children: [
                {
                    innerHTML: "<img src='/Content/Images/Jobs/Squire_Male_Standing.png'><img src='/Content/Images/Jobs/Chemist_Male_Standing.png'><img src='/Content/Images/Jobs/Dragoon_Male_Standing.png'><img src='/Content/Images/Jobs/Geomancer_Male_Standing.png'><img src='/Content/Images/Jobs/Orator_Male_Standing.png'><img src='/Content/Images/Jobs/Summoner_Male_Standing.png'><p class='node-name'>Squire/Chemist/Dragoon/Geomancer/Orator/Summoner</p>",
                    children: [
                        {
                            text: { name: "Mime" },
                            image: "/Content/Images/Jobs/Mime_Male_Standing.png",
                        }
                    ]
                }
            ]
        }
    };

    dark_chart_config = {
        chart: {
            container: "#tree-dark-chart",
            rootOrientation: "NORTH",
            connectors: {
                type: "step",
                style: {
                    "arrow-end": "block",
                    "stroke-width": 3
                }
            },
            levelSeparation: 50,
            siblingSeparation: 0,
            subTeeSeparation: 5,
            hideRootNode: true
        },
        nodeStructure: {
            children: [
                {
                    innerHTML: "<img src='/Content/Images/Jobs/BlackMage_Male_Standing.png'><img src='/Content/Images/Jobs/Knight_Male_Standing.png'><img src='/Content/Images/Jobs/Samurai_Male_Standing.png'><img src='/Content/Images/Jobs/Dragoon_Male_Standing.png'><img src='/Content/Images/Jobs/Geomancer_Male_Standing.png'><img src='/Content/Images/Jobs/Ninja_Male_Standing.png'><p class='node-name'>Black Mage/Knight/Samurai/Dragoon/Geomancer/Ninja</p>",
                    children: [
                        {
                            text: { name: "Dark Knight" },
                            image: "/Content/Images/Jobs/DarkKnight_Male_Standing.png",
                        }
                    ]
                }
            ]
        }
    };

    (function drawTreantJobTree() {
        var squire_chart = new Treant(squire_chart_config);
        var chemist_chart = new Treant(chemist_chart_config);
        var onionChart = new Treant(onion_chart_config);
        var mimeChart = new Treant(mime_chart_config);
        var darkChart = new Treant(dark_chart_config);
    })();
</script>
