<div id="job-tree-container" class="menu">
    <strong id="job-tree-close">X</strong>
    <div id="tree-squire-chart" class="tree-chart"></div>
    <div id="tree-chemist-chart" class="tree-chart"></div>
</div>
<canvas id="job-tree-canvas" width="1500" height="960"></canvas>
<script type="text/javascript">
    JobOverview.drawJobTree();
</script>
