<div id="job-overview-container">    
    <div id="job-details-container" class="menu">
        <div id="job-details-level-container">
            <img src="~/Content/Images/level.png" />
            <img src="~/Content/Images/number_1.png" />
        </div>
        <span id="job-name">Squire</span>
    </div>
    <div id="job-gender-container" class="menu">
        <button id="gender-male-button" class="fft-button" data-gender="Male" selected="true"><span>Male</span></button>
        <button id="gender-female-button" class="fft-button" data-gender="Female" selected="false"><span>Female</span></button>
    </div>
    <div id="job-confirm-container" class="menu">
        <button id="job-tree-button" class="fft-button" selected="false">View Job Tree</button>
        <button id="job-confirm-button" class="fft-button" selected="false">Hire Unit</button>
    </div>
</div>
<div id="job-modifier-chart-container" class="menu">
    <canvas id="job-modifier-chart"></canvas>
</div>
<div id="job-growth-chart-container" class="menu">
    <canvas id="job-growth-chart"></canvas>
</div>
<div id="job-move-chart-container"  class="menu">
    <canvas id="job-move-chart"></canvas>
</div>
<div id="job-evasion-chart-container" class="menu">
    <canvas id="job-evasion-chart"></canvas>
</div>