<div id="job-tree-container" class="menu">
    <strong id="job-tree-close">X</strong>
    <div id="job-tree-onion-knight-container" class="fft-button job-tree-job-container" selected="false">
        <span class="job-tree-name">Onion Knight</span>
        <img src="~/Content/Images/Jobs/OnionKnight_Male_Standing.png" />
        <img src="~/Content/Images/Jobs/OnionKnight_Female_Standing.png" />
    </div>
</div>
