<div id="job-overview-container">
    <div id="job-selection-container">
        <div id='piemenu' data-wheelnav
             data-wheelnav-slicepath='DonutSlice'
             data-wheelnav-rotateon
             data-wheelnav-navangle="90"
             data-wheelnav-titleheight="100"
             data-wheelnav-titlewidth="70"
             data-wheelnav-cssmode
             data-wheelnav-init>           
            @*<div onmouseup="updateChartData({'data-job-id:': '1', });" data-job-id="1" data-job-name="Squire" data-job-hpm="100" data-job-hpc="11" data-job-mpm="75" data-job-mpc="15" data-job-spm="100" data-job-spc="100"
                 data-job-pam="90" data-job-pac="60" data-job-mam="80" data-job-mac="50" data-job-move="4" data-job-jump="3" data-job-evasion="5"
                  data-wheelnav-navitemimg="/Content/Images/Jobs/Squire_Male_Standing.png"></div>*@
            <div onmouseup="updateChartData({'id': '1', 'name': 'Squire', 'hpm': '100', 'hpc': '11', 'mpm': '75', 'mpc': '15',
                'spm': '100', 'spc': '100', 'pam': '90', 'pac': '60', 'mam': '80', 'mac': '50', 'move': '4',
                'jump': '3', 'evasion':'5'});"
                 data-wheelnav-navitemimg="/Content/Images/Jobs/Squire_Male_Standing.png"></div>
            <div onmouseup="updateChartData({'id': '2', 'name': 'Chemist', 'hpm': '90', 'hpc': '11', 'mpm': '120', 'mpc': '15',
                'spm': '110', 'spc': '100', 'pam': '110', 'pac': '60', 'mam': '100', 'mac': '50', 'move': '4',
                'jump': '3', 'evasion':'5'});" data-wheelnav-navitemimg="/Content/Images/Jobs/Chemist_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Knight_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Archer_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Monk_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Thief_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/WhiteMage_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/BlackMage_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Oracle_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/TimeMage_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Geomancer_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Dragoon_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Summoner_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Mediator_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Calculator_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Samurai_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Ninja_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Bard_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/Mime_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/DarkKnight_Male_Standing.png"></div>
            <div data-wheelnav-navitemimg="/Content/Images/Jobs/OnionKnight_Male_Standing.png"></div>
        </div>
    </div>
    <div id="job-details-container" class="menu">
        <div id="job-details-level-container">
            <img src="~/Content/Images/level.png" />
            <img src="~/Content/Images/number_8.png" />
        </div>
        <span>Squire</span>
    </div>
    <div id="job-gender-container" class="menu">
        <span selected="true">Male Soldier</span>
        <span selected="false">Female Soldier</span>
    </div>
</div>
<div id="job-modifier-chart-container" class="menu">
    <canvas id="job-modifier-chart"></canvas>
</div>
<div id="job-growth-chart-container" class="menu">
    <canvas id="job-growth-chart"></canvas>
</div>
<div id="job-move-chart-container"  class="menu">
    <canvas id="job-move-chart"></canvas>
</div>
<div id="job-evasion-chart-container" class="menu">
    <canvas id="job-evasion-chart"></canvas>
</div>
<script>    

    //var piemenu = new wheelnav('piemenu');
    //piemenu.centerX = window.innerWidth / 2 - 50;
    //piemenu.centerY = window.innerHeight / 3;
    //piemenu.selectedPercent = 1.1;
    //piemenu.hoverPercent = 1;
    //piemenu.clockwise = false;
    //piemenu.animatetime = 200;
    //piemenu.maxPercent = 0.50;
    //piemenu.animateeffect = 'linear';
    //piemenu.createWheel();

    var modifierChartCanvas = document.getElementById('job-modifier-chart');
    var modifierChart = new Chart(modifierChartCanvas, {
        type: 'radar',
        data: {
            labels: ["HPM", "MPM", "SPM", "PAM", "MAM"],
            datasets: [{
                label: 'Job Stat Modifiers',
                data: [100, 80, 100, 110, 80],
                borderColor: 'rgba(255, 0, 0, 0.5)',
                backgroundColor: 'rgba(255, 0, 0, 0.34)',
                pointBackgroundColor: 'white',
                pointBorderColor: 'yellow',
                defaultFontFamily: 'Altima',
                defaultFontSize: '60'
            }]
        },
        options: {
            maintainAspectRatio: false,
            scale: {
                ticks: {
                    suggestedMin: 60,
                    suggestedMax: 140,
                    stepSize: 10,
                    display: false
                }, 
                pointLabels: {
                    fontSize: 60,
                    fontFamily: 'Altima'
                }                
            },
            legend: false
        }
    });

    var growthChartCanvas = document.getElementById('job-growth-chart');
    var growthChart = new Chart(growthChartCanvas, {
        type: 'radar',
        data: {
            labels: ["HPC", "MPC", "SPC", "PAC", "MAC"],
            datasets: [{
                label: 'Job Stat Constants',
                data: [100, 80, 100, 110, 80],
                borderColor: 'rgba(255, 0, 0, 0.5)',
                backgroundColor: 'rgba(255, 0, 0, 0.34)',
                pointBackgroundColor: 'white',
                pointBorderColor: 'yellow',
                defaultFontFamily: 'Altima',
                defaultFontSize: '60'
            }]
        },
        options: {
            maintainAspectRatio: false,
            scale: {
                ticks: {
                    suggestedMin: 60,
                    suggestedMax: 140,
                    stepSize: 10,
                    display: false
                },
                pointLabels: {
                    fontSize: 60,
                    fontFamily: 'Altima'
                }
            },
            legend: false
        }
    });

    var baseMoveJumpChartCanvas = document.getElementById('job-move-chart');
    var baseMoveJumpChart = new Chart(baseMoveJumpChartCanvas, {
        type: 'bar',
        data: {
            labels: ["Move", "Jump"],
            datasets: [{
                label: 'Job Move Attributes',
                data: [4, 3],
                backgroundColor: 'rgba(255, 0, 0, 0.34)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 5,
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontSize: 40,
                        fontFamily: 'Altima'
                    }
                }]
            },
            legend: false
        }
    });

    var baseEvasionChartCanvas = document.getElementById('job-evasion-chart');
    var baseEvasionChart = new Chart(baseEvasionChartCanvas, {
        type: 'bar',
        data: {
            labels: ["Evasion"],
            datasets: [{
                label: 'Job Base Evasion',
                data: [5],
                backgroundColor: 'rgba(255, 0, 0, 0.34)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 40,
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontSize: 40,
                        fontFamily: 'Altima'
                    }
                }]
            },
            legend: false
        }
    });
</script>