<div id="item-details-container" class="menu">
    <strong id="item-details-close">X</strong>
    <div id="item-details-attributes-container">
        <div id="item-details-basic-container" class="fft-column">
            <img class="fft-cell" src="~/Content/Images/Item_Icons/Weapons/FFT_Broadsword.gif" />
            <span class="fft-cell"><strong>Broadsword</strong></span>
            <span class="fft-cell">Sword</span>
            <div class="fft-cell">
                <span>Range:</span>
                <span>1</span>
                <span> 1H / 2H</span>
            </div>
            <span class="fft-cell">Dualwield</span>
            <span class="fft-cell">Doublehand</span>
        </div>
        <div id="item-details-weapon-power-container" class="fft-column">
            <div class="fft-column">
                <div class="fft-cell"><span>Item. Power</span></div>
                <div class="fft-column">
                    <div class="fft-cell" data-item-power="4"><span>004</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell unit-stat-divider"><span>/</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell" data-item-hit-percentage="5"><span>05</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell  percentage-value"><span>%</span></div>
                </div>
            </div>
        </div>
        <div id="item-details-power-boost-container" class="fft-column">
            <div class="fft-cell"><span>Item Boosts</span></div>
            <div class="fft-column item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-column">
                <span>05</span>
            </div>
            <div class="fft-column item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-column">
                <span>01</span>
            </div>
        </div>
        <div id="item-details-move-jump-speed-container" class="fft-column">
            <div class="fft-cell"><span>Item Attributes</span></div>
            <div class="fft-column">
                <div class="fft-cell"><span>Move</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell stat-seperator"><span>...</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>5</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>Jump</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell stat-seperator"><span>...</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>3</span></div>
            </div>
        </div>
        <div id="item-details-evasion-container" class="fft-column">
            <div class="fft-column">
                <div class="fft-cell"></div>
                <div class="fft-cell">
                    <img src="~/Content/Images/physical-icon.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/magical-icon.png" />
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>S-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>00</span></div>
                    <div class="fft-cell"><span>00</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>A-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>00</span></div>
                    <div class="fft-cell"><span>00</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
        </div>
    </div>
    <div id="item-details-element-effect-container">
        <div class="fft-row">
            <span>Element: </span>
            <span>Dark</span>
            <span> - </span>
            <span>Holy</span>
            <span> - </span>
            <span>Fire</span>
        </div>
        <div class="fft-row">
            <span>Absorbed: </span>
            <span>Dark</span>
            <span> - </span>
            <span>Holy</span>
            <span> - </span>
            <span>Fire</span>
            <span> - </span>
            <span>Dark</span>
            <span> - </span>
            <span>Holy</span>
            <span> - </span>
            <span>Fire</span>
        </div>
        <div class="fft-row">
            <span>Boosted: </span>
            <span>Dark</span>
            <span> - </span>
            <span>Holy</span>
            <span> - </span>
            <span>Fire</span>
        </div>
        <div class="fft-row">
            <span>Halved: </span>
            <span>Dark</span>
            <span> - </span>
            <span>Holy</span>
            <span> - </span>
            <span>Fire</span>
        </div>
        <div class="fft-row">
            <span>Negated: </span>
            <span>Dark</span>
            <span> - </span>
            <span>Holy</span>
            <span> - </span>
            <span>Fire</span>
        </div>
        <div class="fft-row">
            <span>Weakness: </span>
            <span>Dark</span>
            <span> - </span>
            <span>Holy</span>
            <span> - </span>
            <span>Fire</span>
        </div>
    </div>
    <div id="item-details-status-effect-container">
        <div class="fft-row">
            <span>Spell: </span>
            <span>Blizzaga</span>
        </div>
        <div class="fft-row">
            <span>Status: </span>
            <span>Charm</span>
        </div>
        <div class="fft-row">
            <span>Remove: </span>
            <span>Doom</span>
        </div>
        <div class="fft-row">
            <span>Immune: </span>
            <span>Poison</span>
            <span>-</span>
            <span>Blind</span>
            <span>-</span>
            <span>Charm</span>
            <span>-</span>
            <span>Doom</span>
            <span>-</span>
            <span>Stone</span>
            <span>-</span>
            <span>Immobile</span>
            <span>-</span>
            <span>Disable</span>
        </div>
        <div class="fft-row">
            <span>Equip: </span>
            <span>Haste</span>
            <span>-</span>
            <span>Regen</span>
        </div>
    </div>
    <div id="item-details-acquire-methods">
        <div class="fft-column">
            <div class="fft-cell"><span>Bought After</span></div>
            <div class="fft-cell"><span>Royal City of Lesalia (Chapter 3)</span></div>
        </div>
        <div class="fft-column">
            <div class="fft-cell"><span>Poach Monster</span></div>
            <div class="fft-cell"><span>Squidraken</span></div>
        </div>
        <div class="fft-column">
            <div class="fft-cell"><span>Treasure Location</span></div>
            <div class="fft-cell"><span>Grogh Heights (rare)</span></div>
        </div>
        <div class="fft-column">
            <div class="fft-cell"><span>Caught From</span></div>
            <div class="fft-cell"><span>Level 96+ Ninja</span></div>
        </div>
        <div class="fft-column">
            <div class="fft-cell"><span>Multiplayer Mode</span></div>
            <div class="fft-cell"><span>Melee/Rendezvous</span></div>
        </div>
        <div class="fft-column">
            <div class="fft-cell"><span>Initial Equip</span></div>
            <div class="fft-cell"><span>Luso</span></div>
        </div>
        <div class="fft-column">
            <div class="fft-cell"><span>Stolen From</span></div>
            <div class="fft-cell"><span>Gafgarion</span></div>
        </div>
    </div>
    <span id="item-details-description">
        <em>This broad-bladed sword is suited for large slashing strokes. It is inexpensive, but not particularly powerful.</em>
    </span>
</div>
