@using FinalFantasyTacticsPartyBuilder.View_Models
@model List<UnitItemLookupViewModel>

<div id="item-lookup-container">
    <div id="item-type-selection" class="menu">
        @foreach (UnitItemLookupViewModel item in Model)
        {
            <div class="item-category" data-item-category="@item.ItemCategoryID">
                <img src="@item.StartingItemImagePath" />
            </div>
        }
    </div>
</div>
