<div id="item-lookup-container">
    <div id="item-type-selection" class="menu">
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/BattleAxe-fft-psx.gif" />
        </div>
        
    </div>
</div>
