@using FinalFantasyTacticsPartyBuilder.View_Models
@model List<UnitOverviewViewModel>

@if (Model != null)
{
    <div id="party-builder-container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="unit-container" data-unit-position="@i">
                <a href="#" class="unit-selector">
                    <img src="~/Content/Images/selection-square.png" class="selection-square" />
                    <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
                    <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
                    <div class="job-status-container">
                        <div class="job-status-hp-container">
                            <div class="hp-bar"></div>
                            <img class="hp" src="~/Content/Images/hp.png" />
                            @for (int j = 0; j < Model[i].AttributeDigits.HpDigits.Length; j++)
                            {
                                <img class="value upper-hp" src="~/Content/Images/number_@(Model[i].AttributeDigits.HpDigits[j]).png" />
                            }
                            <img class="job-status-divider" src="~/Content/Images/divider.png" />
                            @for (int j = 0; j < Model[i].AttributeDigits.HpDigits.Length; j++)
                            {
                                <img class="value lower-hp" src="~/Content/Images/number_@(Model[i].AttributeDigits.HpDigits[j]).png" />
                            }
                        </div>
                        <div class="job-status-mp-container">
                            <div class="mp-bar"></div>
                            <img class="mp" src="~/Content/Images/mp.png" />
                            @for (int j = 0; j < Model[i].AttributeDigits.MpDigits.Length; j++)
                            {
                                <img class="value upper-mp" src="~/Content/Images/number_@(Model[i].AttributeDigits.MpDigits[j]).png" />
                            }
                            <img class="job-status-divider" src="~/Content/Images/divider.png" />
                            @for (int j = 0; j < Model[i].AttributeDigits.MpDigits.Length; j++)
                            {
                                <img class="value lower-mp" src="~/Content/Images/number_@(Model[i].AttributeDigits.MpDigits[j]).png" />
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}
