@using FinalFantasyTacticsPartyBuilder.View_Models
@model List<UnitOverviewViewModel>

@foreach (UnitOverviewViewModel unit in Model)
{
    <div class="unit-container">
        <a href="#" class="unit-selector">
            <img src="~/Content/Images/selection-square.png" class="selection-square" />
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
            <div class="job-status-container">
                <div class="job-status-hp-container">
                    <div class="hp-bar"></div>
                    <img class="hp" src="~/Content/Images/hp.png" />
                    @for (int i = 0; i < unit.AttributeDigits.HpDigits.Length; i++)
                    {
                        <img class="value upper-hp" src="~/Content/Images/number_@(unit.AttributeDigits.HpDigits[i]).png" />
                    }
                    <img class="job-status-divider" src="~/Content/Images/divider.png" />
                    @for (int i = 0; i < unit.AttributeDigits.HpDigits.Length; i++)
                    {
                        <img class="value lower-hp" src="~/Content/Images/number_@(unit.AttributeDigits.HpDigits[i]).png" />
                    }
                </div>
                <div class="job-status-mp-container">
                    <div class="mp-bar"></div>
                    <img class="mp" src="~/Content/Images/mp.png" />
                    @for (int i = 0; i < unit.AttributeDigits.MpDigits.Length; i++)
                    {
                        <img class="value upper-mp" src="~/Content/Images/number_@(unit.AttributeDigits.MpDigits[i]).png" />
                    }
                    <img class="job-status-divider" src="~/Content/Images/divider.png" />
                    @for (int i = 0; i < unit.AttributeDigits.MpDigits.Length; i++)
                    {
                        <img class="value lower-mp" src="~/Content/Images/number_@(unit.AttributeDigits.MpDigits[i]).png" />
                    }
                </div>
            </div>
        </a>
    </div>
}
