@using FinalFantasyTacticsPartyBuilder.View_Models
@model List<UnitPanelViewModel>

<div id="party-builder-container">
    @if (Model != null)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="unit-container" data-unit-position="@i">
                <a href="javascript:void(0);" class="unit-selector">
                    <img src="~/Content/Images/selection-square.png" class="selection-square" />
                    <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
                    <img class="job-image" src="~/Content/Images/Jobs/@(Model[i].JobName)_@(Model[i].Gender)_Standing.png" />
                    <div class="job-status-container">
                        <div class="job-status-hp-container">
                            <div class="hp-bar"></div>                         
                            <img src="~/Content/Images/hp.png" />
                            @for (int j = 0; j < Model[i].HpDigits.Length; j++)
                            {
                                <img class="value upper-hp" src="~/Content/Images/number_@(Model[i].HpDigits[j]).png" />
                            }
                            <img class="job-status-divider" src="~/Content/Images/divider.png" />
                            @for (int j = 0; j < Model[i].HpDigits.Length; j++)
                            {
                                <img class="value lower-hp" src="~/Content/Images/number_@(Model[i].HpDigits[j]).png" />
                            }
                            
                        </div>
                        <div class="job-status-mp-container">
                            <div class="mp-bar"></div>
                            <img class="mp" src="~/Content/Images/mp.png" />
                            @for (int j = 0; j < Model[i].MpDigits.Length; j++)
                            {
                                <img class="value upper-mp" src="~/Content/Images/number_@(Model[i].MpDigits[j]).png" />
                            }
                            <img class="job-status-divider" src="~/Content/Images/divider.png" />
                            @for (int j = 0; j < Model[i].MpDigits.Length; j++)
                            {
                                <img class="value lower-mp" src="~/Content/Images/number_@(Model[i].MpDigits[j]).png" />
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    }

    <div class="unit-container new-unit-selector">
        <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
        <a href="javascript:void(0);">
            <div id="empty-unit-outline">
                <div id="new-unit-cross-container">
                    <img src="~/Content/Images/plus-sign.svg" />
                </div>
            </div>
        </a>
    </div>
</div>
