<div id="ability-details-container">
    <div id="ability-details-job-container">
        <div class="fft-column job-ability-name job-ability-header">
            <img class="menu-header-icon fft-cell" src="~/Content/Images/job.png" />
        </div>
        <div class="fft-column job-ability-level job-ability-header">
            <img class="menu-header-icon fft-cell" src="~/Content/Images/level.png" />
        </div>
        <div class="fft-column job-ability-jp job-ability-header">
            <img class="menu-header-icon fft-cell" src="~/Content/Images/jp.png" />
        </div>
        <div class="menu-header menu">
            <div class="menu-header-bar"></div>
        </div>
        <div id="ability-details-job-selection" class="menu">
            <div class="fft-column job-ability-name">
                <div class="fft-cell">
                    <span>Squire</span>
                </div>
            </div>
            <div class="fft-column job-ability-level">
                <div class="fft-cell">
                    <span>8</span>
                </div>
            </div>
            <div class="fft-column job-ability-jp">
                <div class="fft-cell">
                    <img src="~/Content/Images/star.png" />
                    <span>Master!</span>
                </div>
            </div>
        </div>
        @*<div class="menu-footer-bar"></div>*@
    </div>
    <div id="ability-details-action-bar-container">
        <div class="fft-column">
            <img class="fft-cell" src="~/Content/Images/ability.png" />
        </div>
        <div class="fft-column">
            <img class="fft-cell" src="~/Content/Images/primary_ability.png" />
        </div>
        <div class="fft-column">
            <img class="fft-cell" src="~/Content/Images/reaction_ability.png" />
        </div>
        <div class="fft-column">
            <img class="fft-cell" src="~/Content/Images/support_ability.png" />
        </div>
        <div class="fft-column">
            <img class="fft-cell" src="~/Content/Images/movement_ability.png" />
        </div>
        <div class="menu-header menu">
            <div class="menu-header-bar"></div>
        </div>
    </div>
    <div id="ability-details-ability-selection" class="menu">

    </div>
</div>