@model string

<div class="menu-container" data-unit-position="@Model">
    <img src="~/Content/Images/menu_header.png" />
    <div class="menu">
        <ul>
            <li id="menu-unit-item"><a href="javascript:void(0);">Item</a></li>
            <li id="menu-unit-ability"><a href="javascript:void(0);">Ability</a></li>
            <li id="menu-unit-change-job" class="not-implemented"><a href="javascript:void(0);">Change Job</a></li>
            <li id="menu-unit-remove"><a href="javascript:void(0);">Remove Unit</a></li>
            <li id="menu-unit-cancel"><a href="javascript:void(0);">Cancel</a></li>
        </ul>
    </div>
</div>
