<div id="item-lookup-container">
    <div id="item-type-selection" class="menu">
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/BattleAxe-fft-psx.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Croakadile_Bag.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Battle_Folio.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Longbow.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Damask_Cloth.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Crossbow.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Chaosbringer.png" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Iron_Flail.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Romandan_Pistol.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Lamia's_Harp.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Ashura.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Dagger.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Defender.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Ninja_Blade.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Battle_Bamboo.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Rod.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Javelin_1.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Oak_Staff.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Ashura.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Weapons/FFT_Broadsword.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Armour/FFT_Leather_Plate.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Armour/FFT_Clothing.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Armour/FFT_Cachusha.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Armour/FFT_Leather_Cap.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Armour/FFT_Iron_Helm.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Armour/FFT_Wizard's_Robe.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Armour/FFT_Escutcheon_1.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Accessories/FFT_Battle_Boots.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Accessories/FFT_Power_Gauntlet.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Accessories/FFT_Angel_Ring.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Accessories/FFT_Leather_Cloak.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Accessories/FFT_Cherche.gif" />
        </div>
        <div class="item-category">
            <img src="~/Content/Images/Item Icons/Accessories/FF_tactics_tynar_rouge.png" />
        </div>
    </div>
    <div id="item-selection" class="menu">
        <div id="item-selection-icon-background"></div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Ragnarok.gif" />
            </div>
            <div class="fft-cell weapon-names" data-item-power="1" data-item-hit-percentage="1">
                <strong>Nagnarok</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon item-details-button">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Broadsword.gif" />
            </div>
            <div class="fft-cell weapon-names" data-item-power="5" data-item-hit-percentage="15">
                <strong>Broadsword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Long_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Longsword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Iron_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Iron Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Mythril_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Mythril Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Coral_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Coral Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Blood_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Blood Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Ancient_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Ancient Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Sleep_Blade.gif" />
            </div>
            <div class="fft-cell">
                <strong>Sleep Blade</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Diamond_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Diamond Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Materia_Blade.gif" />
            </div>
            <div class="fft-cell">
                <strong>Materia Blade</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Platinum_Sword.gif" />
            </div>
            <div class="fft-cell">
                <strong>Platinum Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Icebrand.gif" />
            </div>
            <div class="fft-cell">
                <strong>Icebrand</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Runeblade.gif" />
            </div>
            <div class="fft-cell">
                <strong>Runeblade</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Moonblade.png" />
            </div>
            <div class="fft-cell">
                <strong>Moonblade</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
        <div class="fft-row">
            <div class="fft-cell weapon-icons item-icon">
                <img src="~/Content/Images/Item Icons/Weapons/FFT_Onion_Sword.png" />
            </div>
            <div class="fft-cell">
                <strong>Onion Sword</strong>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>05</span>
            </div>
            <div class="fft-cell">
                <span>/</span>
            </div>
            <div class="fft-cell">
                <span>15</span>
            </div>
            <div class="fft-cell">
                <span>%</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>01</span>
            </div>
            <div class="fft-cell item-icon">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
    </div>
</div>
