@using FinalFantasyTacticsPartyBuilder.View_Models;
@model UnitDismissViewModel

<div id="unit-dismiss-container" >
    <div id="dismiss-portrait-container" class="menu">
        <span id="dismiss-name">@Model.UnitName</span>
        <span id="dismiss-quote">@Model.Quote</span>
        <img id="dismiss-portrait" src="~/Content/Images/Jobs/@(Model.JobName)_@(Model.GenderName)_Portrait.png" />
    </div>
    <div id="dismiss-confirmation-container" class="menu">
        <span id="dismiss-unit" data-unit-position="@Model.Position">Dismiss</span>
        <span id="dismiss-cancel">Cancel</span>
    </div>
</div>
