@{
    ViewBag.Title = "Details";
}

<div id="job-overview-container">
    <div id="job-selection-container">
        @for (int i = 0; i < 20; i++)
        {
            <div class="job-container">

            </div>
        }
    </div>
    <div id="job-details-container">

    </div>
</div>
<div class="unit-details-container">

</div>

