@{
    ViewBag.Title = "Home Page";
}

<div id="party-overview-container">
    <div id="party-builder-container">
        <div class="unit-container new-unit-selector">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <a href="#">
                <div id="empty-unit-outline">
                    <div id="new-unit-cross-container">
                        <div id="new-unit-cross-vertical"></div>
                        <div id="new-unit-cross-horizontal"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    var UnitOverview = function ()
    {
        $(document).ready(function ()
        {
            if (typeof (Storage) !== 'undefined')
            {
                var unitData = {
                    units: [{ 'unitName': 'Braedon', 'maxhp': '43', 'maxmp': '11', 'gender': '0', 'position': '0', 'job': '1', 'level': '1', 'experience': '46', 'brave': '67', 'faith': '58' },
                        { 'unitName': 'Braedina', 'maxhp': '947', 'maxmp': '313', 'gender': '1', 'position': '1', 'job': '1', 'level': '99', 'experience': '46', 'brave': '97', 'faith': '0' }]
                }

                localStorage.setItem("unitData", JSON.stringify(unitData));
                renderUnitPanels();
            }
        });

        $('.new-unit-selector').click(renderJobSelectionPanel);
        $('body').on('click', '.unit-container[data-unit-position]', renderUnitStatusPanel);

        function renderUnitPanels()
        {
            var unitData = JSON.parse(localStorage.getItem('unitData'));
            $.post('/Home/GetUnitPanelPartial', unitData, function (data)
            {
                $('#party-builder-container').prepend(data);
            });
        }

        function renderUnitStatusPanel(event)
        {
            var unitPosition = event.currentTarget.attributes['data-unit-position'].nodeValue;
            var unitData = JSON.parse(localStorage.getItem('unitData'));

            for (var i = 0; i < unitData.units.length; i++)
            {
                if (unitData.units[i].position === unitPosition)
                {
                    unitData = unitData.units[i];
                    break;
                }                
            }

            $('.unit-details-container').remove();

            $.post('/Home/GetUnitOverviewPartial', unitData, function (data)
            {
                $('#party-builder-container').append(data);
            });

            renderMenuPanel(event, unitPosition);
        }

        function renderMenuPanel(event, unitPosition)
        {
            $.post('/Home/GetUnitMenuPartial', unitPosition, function (data)
            {
                $('#party-builder-container').append(data);
            });
        }

        function renderJobSelectionPanel(event)
        {
            $.post('/Home/GetJobOverviewPartial', function (data)
            {
                $('#party-overview-container').contents().remove();
                $('#party-overview-container').append(data);
            });
        }

    }();
</script>

