@{
    ViewBag.Title = "Home Page";
}

<div id="brick-background">

</div>
<div class="menu-container">
    <img src="~/Content/Images/menu_header.png" />
    <div class="menu">        
        <ul>
            <li>Item</li>
            <li>Ability</li>
            <li>Change Job</li>
            <li>Remove Unit</li>
            <li>Order Unit</li>
        </ul>
    </div>
</div>
