@{
    ViewBag.Title = "Home Page";
}

<div id="party-overview-container">
    <div id="party-builder-container">

        @for (int i = 0; i < 2; i++)
        {
            <div class="unit-container">
                <a href="#" class="unit-selector">
                    <img src="~/Content/Images/selection-square.png" class="selection-square" />
                    <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
                    <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
                    <div class="job-status-container">
                        <div class="job-status-hp-container">
                            <div class="hp-bar"></div>
                            <img class="hp" src="~/Content/Images/hp.png" />
                            <img class="value upper-hp" src="~/Content/Images/number_9.png" />
                            <img class="value upper-hp" src="~/Content/Images/number_9.png" />
                            <img class="value upper-hp" src="~/Content/Images/number_9.png" />
                            <img class="job-status-divider" src="~/Content/Images/divider.png" />
                            <img class="value lower-hp" src="~/Content/Images/number_9.png" />
                            <img class="value lower-hp" src="~/Content/Images/number_9.png" />
                            <img class="value lower-hp" src="~/Content/Images/number_9.png" />
                        </div>
                        <div class="job-status-mp-container">
                            <div class="mp-bar"></div>
                            <img class="mp" src="~/Content/Images/mp.png" />
                            <img class="value upper-mp" src="~/Content/Images/number_9.png" />
                            <img class="value upper-mp" src="~/Content/Images/number_9.png" />
                            <img class="value upper-mp" src="~/Content/Images/number_9.png" />
                            <img class="job-status-divider" src="~/Content/Images/divider.png" />
                            <img class="value lower-mp" src="~/Content/Images/number_9.png" />
                            <img class="value lower-mp" src="~/Content/Images/number_9.png" />
                            <img class="value lower-mp" src="~/Content/Images/number_9.png" />
                        </div>
                    </div>
                </a>
            </div>
        }
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <a href="@Url.Action("Details", "Home")">
                <div id="empty-unit-outline">
                    <div id="new-unit-cross-container">
                        <div id="new-unit-cross-vertical"></div>
                        <div id="new-unit-cross-horizontal"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="menu-container">
        <img src="~/Content/Images/menu_header.png" />
        <div class="menu">
            <ul>
                <li><a href="#">Item</a></li>
                <li><a href="#">Ability</a></li>
                <li><a href="#">Change Job</a></li>
                <li><a href="#">Remove Unit</a></li>
                <li><a href="#">Order Unit</a></li>
            </ul>
        </div>
    </div>
    <div class="unit-details-container">
        <div id="unit-portrait-menu" class="menu">
            <img class="unit-portrait" src="~/Content/Images/Jobs/Squire_Male_Portrait.png" />
        </div>
        <div id="unit-details-status-container">
            <div id="unit-status-level-container">
                <img class="small-image" src="~/Content/Images/level.png" />
                <img src="~/Content/Images/number_1.png" />
                <img src="~/Content/Images/number_2.png" />
            </div>
            <div id="unit-status-experience-container">
                <img class="small-image" src="~/Content/Images/experience.png" />
                <img src="~/Content/Images/number_0.png" />
                <img src="~/Content/Images/number_0.png" />
            </div>
            <div id="unit-status-hp-container">
                <img class="hp small-image" src="~/Content/Images/hp.png" />
                <div class="value-bar"></div>
                <img class="value upper-hp" src="~/Content/Images/number_9.png" />
                <img class="value upper-hp" src="~/Content/Images/number_1.png" />
                <img class="value upper-hp" src="~/Content/Images/number_9.png" />
                <img class="divider" src="~/Content/Images/divider.png" />
                <img class="value lower-hp" src="~/Content/Images/number_1.png" />
                <img class="value lower-hp" src="~/Content/Images/number_9.png" />
                <img class="value lower-hp" src="~/Content/Images/number_1.png" />
            </div>
            <div id="unit-status-mp-container">
                <img class="mp small-image" src="~/Content/Images/mp.png" />
                <div class="value-bar"></div>
                <img class="value upper-mp" src="~/Content/Images/number_7.png" />
                <img class="value upper-mp" src="~/Content/Images/number_6.png" />
                <img class="value upper-mp" src="~/Content/Images/number_5.png" />
                <img class="divider" src="~/Content/Images/divider.png" />
                <img class="value lower-mp" src="~/Content/Images/number_4.png" />
                <img class="value lower-mp" src="~/Content/Images/number_3.png" />
                <img class="value lower-mp" src="~/Content/Images/number_2.png" />
            </div>
        </div>
        <div class="unit-details-name-container menu">
            <img id="unit-details-name-orb" src="~/Content/Images/blue_orb.png" />
            <div id="unit-details-name-rank-container">
                <img src="~/Content/Images/number_dark_0.png" />
                <img src="~/Content/Images/number_dark_1.png" />
            </div>
            <strong id="unit-details-name-name">Braedon</strong>
            <strong id="unit-details-name-job">Squire</strong>
            <div id="unit-details-name-brave-container">
                <span id="brave-header">Brave</span>
                <span>74</span>
            </div>
            <div id="unit-details-name-faith-container">
                <span id="faith-header">Faith</span>
                <span>74</span>
            </div>
        </div>        
    </div>
</div>
