@{
    ViewBag.Title = "Home Page";
}

<div id="party-overview-container">
    <div id="party-builder-container">
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
        </div>
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
        </div>
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
        </div>
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
        </div>
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
        </div>
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
        </div>
        <div class="unit-container">
            <img class="job-blue-orb" src="~/Content/Images/blue_orb.png" />
            <img class="job-image" src="~/Content/Images/Jobs/Squire_Male_Standing.png" />
        </div>        
    </div>
    <div class="menu-container">
        <img src="~/Content/Images/menu_header.png" />
        <div class="menu">
            <ul>
                <li><a href="#">Item</a></li>
                <li><a href="#">Ability</a></li>
                <li><a href="#">Change Job</a></li>
                <li><a href="#">Remove Unit</a></li>
                <li><a href="#">Order Unit</a></li>
            </ul>
        </div>
    </div>  
</div>
