<div id="party-overview-container"></div>
<div id="navigator-previous">
    <svg width="100" height="100">
        <polygon points="0,50 100,0 0,50, 100,100" style="fill:red; stroke:rgba(0, 0, 0, 0.5); stroke-width:10"/>
    </svg>
</div>
