
@{
    ViewBag.Title = "Status";
}

<div id="unit-details-container">
    <div id="unit-details-header" class="unit-details-container">
        <div id="unit-portrait-menu" class="menu">
            <img class="unit-portrait" src="~/Content/Images/Jobs/Squire_Male_Portrait.png" />
        </div>
        <div id="unit-details-status-container">
            <div id="unit-status-level-container">
                <img class="small-image" src="~/Content/Images/level.png" />
                <img src="~/Content/Images/number_1.png" />
                <img src="~/Content/Images/number_2.png" />
            </div>
            <div id="unit-status-experience-container">
                <img class="small-image" src="~/Content/Images/experience.png" />
                <img src="~/Content/Images/number_0.png" />
                <img src="~/Content/Images/number_0.png" />
            </div>
            <div id="unit-status-hp-container">
                <img class="hp small-image" src="~/Content/Images/hp.png" />
                <div class="value-bar"></div>
                <img class="value upper-hp" src="~/Content/Images/number_9.png" />
                <img class="value upper-hp" src="~/Content/Images/number_1.png" />
                <img class="value upper-hp" src="~/Content/Images/number_9.png" />
                <img class="divider" src="~/Content/Images/divider.png" />
                <img class="value lower-hp" src="~/Content/Images/number_1.png" />
                <img class="value lower-hp" src="~/Content/Images/number_9.png" />
                <img class="value lower-hp" src="~/Content/Images/number_1.png" />
            </div>
            <div id="unit-status-mp-container">
                <img class="mp small-image" src="~/Content/Images/mp.png" />
                <div class="value-bar"></div>
                <img class="value upper-mp" src="~/Content/Images/number_7.png" />
                <img class="value upper-mp" src="~/Content/Images/number_6.png" />
                <img class="value upper-mp" src="~/Content/Images/number_5.png" />
                <img class="divider" src="~/Content/Images/divider.png" />
                <img class="value lower-mp" src="~/Content/Images/number_4.png" />
                <img class="value lower-mp" src="~/Content/Images/number_3.png" />
                <img class="value lower-mp" src="~/Content/Images/number_2.png" />
            </div>
        </div>
        <div class="unit-details-name-container menu">
            <img id="unit-details-name-orb" src="~/Content/Images/blue_orb.png" />
            <div id="unit-details-name-rank-container">
                <img src="~/Content/Images/number_dark_0.png" />
                <img src="~/Content/Images/number_dark_1.png" />
            </div>
            <strong id="unit-details-name-name">Braedon</strong>
            <strong id="unit-details-name-job">Squire</strong>
            <div id="unit-details-name-brave-container">
                <span id="brave-header">Brave</span>
                <span>74</span>
            </div>
            <div id="unit-details-name-faith-container">
                <span id="faith-header">Faith</span>
                <span>74</span>
            </div>
        </div>
    </div>
    <div id="unit-details-stats-container">
        <div id="unit-details-overall-stats" class="menu">
            <div id="base-stats" class="fft-column">
                <div class="fft-cell" id="move-stat-header"><span>Move</span></div>
                <div class="fft-cell" id="jump-stat-header"><span>Jump</span></div>
                <div class="fft-cell" id="speed-stat-header"><span>Speed</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell stat-seperator"><span>...</span></div>
                <div class="fft-cell stat-seperator"><span>...</span></div>
                <div class="fft-cell stat-seperator"><span>...</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell" id="move-stat-value"><span>5</span></div>
                <div class="fft-cell" id="jump-stat-value"><span>3</span></div>
                <div class="fft-cell" id="speed-stat-value"><span>06</span></div>
            </div>
            <div id="move-weapon-margin" class="fft-column"></div>
            <div class="fft-column">
                <div class="fft-cell" id="weapon-stats-header"><span>Weap. Power</span></div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-header"><span>R</span></div>
                    <div class="fft-cell" id="weapon-stats-left-header"><span>L</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell stat-seperator"><span>...</span></div>
                    <div class="fft-cell stat-seperator"><span>...</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-damage"><span>004</span></div>
                    <div class="fft-cell" id="weapon-stats-left-damage"><span>000</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell unit-stat-divider"><span>/</span></div>
                    <div class="fft-cell unit-stat-divider"><span>/</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-hit"><span>05</span></div>
                    <div class="fft-cell" id="weapon-stats-left-hit"><span>00</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell  percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>

            <div id="weapon-evasion-margin" class="fft-column"></div>
            <div id="equipment-icons" class="fft-column">
                <div class="fft-cell" id="physical-icon"><img src="~/Content/Images/physical-icon.png" /></div>
                <div class="fft-cell" id="magical-icon"><img src="~/Content/Images/magical-icon.png" /></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>AT</span></div>
                <div class="fft-cell"><span>05</span></div>
                <div class="fft-cell"><span>05</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>C-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>10</span></div>
                    <div class="fft-cell"><span>05</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>S-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>00</span></div>
                    <div class="fft-cell"><span>00</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>A-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>00</span></div>
                    <div class="fft-cell"><span>00</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
        </div>
    </div>
    <div id="unit-ability-equipment-container">
        <div id="unit-equipment" class="menu">
            <div id="ability-lookup-container">
                <div id="item-type-selection" class="menu">

                </div>
                <div id="item-selection" class="menu">

                </div>
            </div>
            <div id="unit-equipment-slot-icons" class="fft-column">
                <div class="fft-cell">
                    <img src="~/Content/Images/hand_right.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/hand_left.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/head.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/armour.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/accessory.png" />
                </div>
            </div>
            <div id="unit-equipment-item-icons" class="fft-column">
                <img id="equip-icon" src="~/Content/Images/equip.png" />
                <div class="fft-cell">
                    <img src="~/Content/Images/Item Icons/Weapons/FFT_Broadsword.gif" />
                </div>
                <div class="fft-cell"></div>
                <div class="fft-cell">
                    <img src="~/Content/Images/Item Icons/Armour/FFT_Leather_Cap.gif" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/Item Icons/Armour/FFT_Clothing.gif" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/Item Icons/Accessories/FFT_Battle_Boots.gif" />
                </div>
            </div>
            <div id="unit-equipment-item-names" class="fft-column">
                <div class="fft-cell">
                    <strong>Broad Sword</strong>
                </div>
                <div class="fft-cell"></div>
                <div class="fft-cell">
                    <strong>Leather Hat</strong>
                </div>
                <div class="fft-cell">
                    <strong>Clothes</strong>
                </div>
                <div class="fft-cell">
                    <strong>Battle Boots</strong>
                </div>
            </div>
        </div>
        <div id="unit-abilities" class="menu">
            <div id="item-lookup-container">
                <div id="item-type-selection" class="menu">
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/BattleAxe-fft-psx.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Croakadile_Bag.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Battle_Folio.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Longbow.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Damask_Cloth.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Crossbow.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Chaosbringer.png" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Iron_Flail.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Romandan_Pistol.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Lamia's_Harp.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Ashura.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Dagger.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Defender.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Ninja_Blade.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Battle_Bamboo.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Rod.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Javelin_1.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Oak_Staff.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Ashura.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Weapons/FFT_Broadsword.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Armour/FFT_Leather_Plate.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Armour/FFT_Clothing.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Armour/FFT_Cachusha.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Armour/FFT_Leather_Cap.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Armour/FFT_Iron_Helm.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Armour/FFT_Wizard's_Robe.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Armour/FFT_Escutcheon_1.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Accessories/FFT_Battle_Boots.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Accessories/FFT_Power_Gauntlet.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Accessories/FFT_Angel_Ring.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Accessories/FFT_Leather_Cloak.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Accessories/FFT_Cherche.gif" />
                    </div>
                    <div class="item-category">
                        <img src="~/Content/Images/Item Icons/Accessories/FF_tactics_tynar_rouge.png" />
                    </div>
                </div>
                <div id="item-selection" class="menu">
                    <div id="item-selection-icon-background"></div>
                    <div class="fft-row">                        
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Ragnarok.gif" />
                        </div>
                        <div class="fft-cell weapon-names">
                            <strong>Nagnarok</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Broadsword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Broadsword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Long_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Longsword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Iron_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Iron Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Mythril_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Mythril Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Coral_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Coral Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Blood_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Blood Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Ancient_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Ancient Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Sleep_Blade.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Sleep Blade</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Diamond_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Diamond Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Materia_Blade.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Materia Blade</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Platinum_Sword.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Platinum Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Icebrand.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Icebrand</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Runeblade.gif" />
                        </div>
                        <div class="fft-cell">
                            <strong>Runeblade</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Moonblade.png" />
                        </div>
                        <div class="fft-cell">
                            <strong>Moonblade</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                    <div class="fft-row">
                        <div class="fft-cell weapon-icons item-icon">
                            <img src="~/Content/Images/Item Icons/Weapons/FFT_Onion_Sword.png" />
                        </div>
                        <div class="fft-cell">
                            <strong>Onion Sword</strong>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/physical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>05</span>
                        </div>
                        <div class="fft-cell">
                            <span>/</span>
                        </div>
                        <div class="fft-cell">
                            <span>15</span>
                        </div>
                        <div class="fft-cell">
                            <span>%</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/magical-icon.png" />
                        </div>
                        <div class="fft-cell">
                            <span>01</span>
                        </div>
                        <div class="fft-cell item-icon">
                            <img src="~/Content/Images/help.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="unit-ability-icons" class="fft-column">
                <img id="ability-icon" src="~/Content/Images/ability.png" />
                <div class="fft-cell">
                    <img src="~/Content/Images/primary_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/primary_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/reaction_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/support_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/movement_ability.png" />
                </div>
            </div>
            <div id="unit-ability-names" class="fft-column">
                <div class="fft-cell">
                    <strong>Guts</strong>
                </div>
                <div class="fft-cell"></div>
                <div class="fft-cell">
                    <strong>Adrenaline Rush</strong>
                </div>
                <div class="fft-cell">
                    <strong>Equip Guns</strong>
                </div>
                <div class="fft-cell">
                    <strong>Ignore Elevation</strong>
                </div>
            </div>
        </div>        
    </div>
</div>
<script>
    $(document).ready(function () {
        function toggleItemContainer() {
            var itemLookupContainer = document.getElementById('item-lookup-container');

            if (itemLookupContainer.style.display === 'none') {
                itemLookupContainer.style.display = 'block';
            }
            else {
                itemLookupContainer.style.display = 'none';
            }
        }

        function toggleAbilityContainer() {
            var abilityContainer = document.getElementById('ability-lookup-container');
            if (abilityContainer.style.display === 'none') {
                abilityContainer.style.display = 'block';
            }
            else {
                abilityContainer.style.display = 'none';
            }
        }

        $('#unit-equipment-item-names .fft-cell').click(toggleItemContainer);
        $('#unit-ability-names .fft-cell').click(toggleAbilityContainer);
    });
</script>
